absl-py
affine
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
appdirs
astunparse
async-timeout
attrs
beautifulsoup4
bigearthnet-common
bigearthnet-encoder
bigearthnet-patch-interface
cachetools
certifi
chainer
charset-normalizer
clang
click
click-plugins
cligj
colorama
coloredlogs
commonmark
configparser
contourpy
cycler
docker-pycreds
einops
et_xmlfile
eval_type_backport
fastcore
fcn
filelock
Fiona
flatbuffers
fonttools
frozenlist
fsspec
gast
GDAL
gdown
geopandas
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
humanfriendly
idna
imagecodecs
imageio
imgviz
importlib_metadata
importlib_resources
Jinja2
joblib
jsonpatch
jsonpointer
keras
Keras-Preprocessing
kiwisolver
labelme
lazy_loader
libclang
lightning-utilities
lmdb
loguru
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
munch
natsort
networkx
numpy
oauthlib
onnxruntime
opencv-python
openpyxl
opt-einsum
osam
packaging
pandas
pathtools
pillow
platformdirs
promise
prompt_toolkit
propcache
protobuf
psutil
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyDeprecate
Pygments
pyparsing
pyproj
PyQt5
PyQt5-Qt5
PyQt5_sip
pyreadline3
PySocks
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
QtPy
rasterio
requests
requests-oauthlib
rich
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
shapely
shellingham
shortuuid
six
smmap
snuggs
soupsieve
subprocess32
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
timm
torch
torchaudio
torchfcn
torchmetrics
torchvision
tornado
tqdm
typer
typing_extensions
tzdata
urllib3
visdom
wandb
wcwidth
websocket-client
Werkzeug
win32_setctime
wrapt
yarl
yaspin
zipp
